{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% include 'estilos.html' %}
</head>
<body>

{% include 'menu.html' %}

<!--
<h1>{{saludo}}</h1>
{% for dia in dias %}
    <h3>-{{dia}}</h3>
{% endfor%}

{% for curso in cursos %}
    {% if curso.envivo == True %}
        <p>Curso: {{curso.curso}}</p>
        <p>Profesor: {{curso.profesor}}</p>
        <p>En Vivo: {{curso.envivo}}</p>
    {% endif%}
{% endfor%}
-->
<div class="container mt-3">
    <form class="input-group mb-3" method="POST" action="/pais/buscarpais/">
        {% csrf_token %}
      <input type="text" class="form-control" placeholder="Ingrese nombre pais" name="nombre" value="{{nombre}}" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
    </form>

    <table id="table" class="table">
        <thead>
            <tr>
                <th>Id Pais</th>
                <th>Nombre Pais</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in listapais %}
                <tr>
                    <td>{{pais.idpais}}</td>
                    <td>{{pais.nombre}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'scripts.html' %}

</body>
</html>