{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'estilos.html' %}
</head>
<body>
{% include 'menu.html' %}

<div class="container mt-3">
     <form class="input-group mb-3" method="POST" action="/tipocine/buscartipocine/">
        {% csrf_token %}
      <input type="text" class="form-control" placeholder="Ingrese nombre tipo cine" name="nombreTipoCine" value="{{nombreTipoCine}}" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
    </form>

    <table id="table" class="table">
        <thead>
            <tr>
                <th>Id Tipo Cine</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for tCine in listatipocine %}
                <tr>
                    <td>{{tCine.id_tipocine}}</td>
                    <td>{{tCine.nombre}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'scripts.html' %}
</body>
</html>